{% extends 'base.html.twig' %}

{% block title %}Série #
{% endblock %}

{% block body %}
	{% for program in programs %}
		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ loop.index }}
					/
					{{ program.title }}
					- Catégorie :
					{{ program.category.name }}</h5>
				<p class="card-text">{{ program.synopsis }}</p>
				<a class="btn btn-primary" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
			</div>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
{% endblock %}
