{% extends "layoutEmail.html.twig" %}

{% block body %}
    <h1>New program {{ episode.title }} created</h1>
    <p>Hello, the new program {{ episode.title }} has been created on Wild Series</p>
        <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}