{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<h1>Saison {{ season.number }} de {{ program.title }}</h1>
	{{ season.description }}
	<ul>
		{% for episode in episodes %}
			<li>
					Episode {{ episode.number }} : {{ episode.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
