{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
					<pre>
		{{ dump(program.seasons) }}
	</pre>
	<div class="card" style="width: 18rem;">
		<img src="/images/{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
		<div class="card-body">
			<h5 class="card-title">Titre :
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}</h5>
			<p class="card-text">{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<a class="btn btn-primary" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
		</div>
	</div>
	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
